<!DOCTYPE html>
<html>

<head>
  <title>Main | {{defaults.sysName}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css"> -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <p id="clock_in" style="display: none;">{{clock_in}}</p>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek'
      });

      calendar.batchRendering(function () {
        calendar.changeView('timeGridWeek');

        // style the calendar
        calendar.setOption('height', 'auto');
        calendar.setOption('contentHeight', 'auto');
//        calendar.setOption('slotDuration', '00:15:00');

        // query getUserHours and add them to the calendar
        $.ajax({
          url: '/getUserHours',
          type: 'GET',
          success: function (data) {
            console.log(data);

            data.forEach(function (hour) {
              var start = moment(hour.clock_in); // will be in local time
              var end = moment(hour.clock_in).add(parseFloat(hour.duration), 'hours'); // will be in local time
              calendar.addEvent({
                title: hour.duration.toString() + " " + hour.notes,
                start: start.toISOString(),
                end: end.toISOString(),
                description: hour.notes
              });
            });
          }
        });

        calendar.render();

      });
    });
  </script>
</head>

<body class="bg-light">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">{{defaults.sysName}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Clock In</a></li>
          <li class="nav-item"><a class="nav-link" href="/resolveUser">Resolve Timesheet</a></li>
          {{#isAdmin}} <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li> {{/isAdmin}}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Hours</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              {{#hours}}
              <tr>
                <td>{{clock_in}}</td>
                <td>{{duration}}</td>
                <td>{{notes}}</td>
              </tr>
              {{/hours}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h3>Calendar</h3>
      </div>
      <div class="card-body">
        <div id='calendar' style="height: 300px;"></div>
      </div>
    </div>
  </div>

</body>

</html>
