<!DOCTYPE html>
<html>

<head>
  <title> Main | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="
https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js
"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <p id="clock_in" style="display: none;">{{clock_in}}</p>

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek'
      });


      calendar.batchRendering(function () {
        calendar.changeView('timeGridWeek');


        // query getUserHours and add them to the calender

        $.ajax({
          url: '/getUserHours',
          type: 'GET',
          success: function (data) {
            console.log(data);

            data.forEach(function (hour) {

              var start = moment(hour.clock_in); // will be in local time
              var end = moment(hour.clock_in).add(parseFloat(hour.duration),'hours'); // will be in local time
              calendar.addEvent({
                title: hour.duration.toString() + " " + hour.notes,
                start: start.toISOString(),
                end: end.toISOString(),
                description: hour.notes
              });
            });
          }
        });
        calendar.render();


      });
    });




  </script>
</head>

<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
     {{#isAdmin}} <li><a href="/admin">admin</a></li> {{/isAdmin}}
      <li><a href="/">clock in</a></li>
      <div style="float:right">
        <li><a href="/logout">Log Out</a></li>
      </div>
    </ul>
  </div>
  {{#auth}}
  <div class="container">
    <h2>
      {{#message}}
      <p>{{message}}</p>
      {{/message}}
    </h2> </br>
    {{/auth}}
</div>
<!--  -->
<div class="hours">

    <table >
      <tr>
        <th>
          Date
        </th>
        <th>
          Duration
        </th>
        <th>
          Notes
        </th>
      </tr>
      {{#hours}}
      <tr>
        <td>
          {{clock_in}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          {{notes}}
        </td>

      </tr>
      {{/hours}}

    </table>



  </div>
  <div style="width:100%; margin: 10%" id='calendar'></div>


</body>

</html>