<!DOCTYPE html>
<html>
<head>
  <title>Main | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    function validateForm() {
  let quantity = parseInt(document.forms["inventoryForm"]["quantity"].value);
  let threshold = parseInt(document.forms["inventoryForm"]["threshold"].value);
  let total = parseInt(document.forms["inventoryForm"]["total"].value);
  if (total - quantity < threshold ) {
    let text;
    if (confirm("Press a button!") == true) {
      text = "reorder request submitted";
      return true;
    } else {
      text = "";
      return false;
    }
    
  }
}
  </script>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <div style="float:right">
        <li><a href="/auth/google">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
      </div>
    </ul>
  </div>
  {{#auth}}
  <div class="container">
    <h2>
      {{#message}}
        <p>{{message}}</p>
      {{/message}}
    </h2> </br>
  {{/auth}}
    {{^clockedIn}}
    You are clocked out. </br>
    <h2> Jobs </h2>
    <form action="/clockIn" method="POST">
      
         {{#jobs}}
            <tr>
              <td>
                <input type="radio" id="jobName" name="jobName" value="{{id}}">
              </td>

              <td>
                {{name}}
              </td> </br>
            </tr>
          {{/jobs}} </br>

        <h2> Tasks </h2>
          {{#tasks}}
            <tr>
              <td>
                <input type="radio" id="taskName" name="taskName" value="{{id}}">
              </td>

              <td>
                {{name}}
              </td> </br>
            </tr>
          {{/tasks}} </br>

      <input type="submit" value="Clock In">
    </form>

    {{/clockedIn}}
    {{#clockedIn}}
      You Are Clocked in
      <form action="/clockout/{{id}}" method = "POST">
        <h2>Notes</h2>
        <textarea name="notes" cols="40" rows="5"></textarea> </br>
        <input type="submit" value="Clock Out">
      </form>
    <div id = "container">
      {{#isManager}}
      <form name ="inventoryForm"action="/updateInventoryItem" method="POST">
        <div id="container">
          <table>
            <th>
                <td>
                </td>
            </th>
          {{#inventory}}
            <tr>
              <td>
                <b>{{name}}</b>
              </td>
              <td>
                <input type="text" name="id" value = "{{id}}" hidden>
                <input type="text" name="total" value = "{{quantity}}" hidden >
                <b>{{quantity}}</b>

                <input type="text" name="threshold" value = "{{threshold}}" hidden>
                <input type="checkbox" id="item" name= "item" value="{{id}}">
                <input name="quantity" type="text" autocomplete="off" placeholder="Enter quantity used">
              </td>
          </tr>
          {{/inventory}}
        </table>
        </div>
        <input type="submit">
      </form>
      {{/isManager}}
    </div>
    {{/clockedIn}}






</body>
</html>

