<!DOCTYPE html>
<html>
<head>
  <title>Main | {{defaults.sysName}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css"> -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <p id="clock_in" style="display: none;">{{clock_in}}</p>

  <script>
    var clock_in = moment($('#clock_in').html());
    var now;
    console.log($('#clock_in').html());

    function loadDuration(){
      if (!`{{clockedIn}}`) return;
      now = moment();
      var diff = moment.duration(now.diff(clock_in));
      var duration = new Date(diff).toISOString().substring(11, 16);
      $("#duration").html(duration);
      $("#hours").html((diff/3600000).toFixed(2)) + 1;
    }

    let previousLatitude = null;
    let previousLongitude = null;

    function shareLocation() {
      if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
          $("#latitude").val(position.coords.latitude);
          $("#longitude").val(position.coords.longitude);
        });
      }
    }

    shareLocation();
    loadDuration();
    setInterval(loadDuration, 10);
    setInterval(shareLocation, 10000);
  </script>
  <script>
    function radioValidation() {
      var jobName = document.getElementsByName('jobName');
      var taskName = document.getElementsByName('taskName');
      var jobChecked = false;
      var taskChecked = false;

      for (var i = 0; i < jobName.length; i++) {
        if (jobName[i].checked) {
          jobChecked = true;
        }
      }

      for (var i = 0; i < taskName.length; i++) {
        if (taskName[i].checked) {
          taskChecked = true;
        }
      }

      if (!jobChecked) {
        alert('Please select a job');
        return false;
      }

      if (!taskChecked) {
        alert('Please select a task');
        return false;
      }

      return true;
    }
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">{{defaults.sysName}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/hours">Hours</a></li>
          <li class="nav-item"><a class="nav-link" href="/resolveUser">Resolve Timesheet</a></li>
          {{#isAdmin}} <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li> {{/isAdmin}}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    {{#auth}}
    <div class="alert alert-info">
      {{#message}}
        <p>{{message}}</p>
      {{/message}}
    </div>
    {{/auth}}

    {{^clockedIn}}
    <div class="alert alert-warning">
      You are clocked out.
      <form action="/clockIn" method="POST">
        <input type="hidden" id="latitude" name="latitude" value="">
        <input type="hidden" id="longitude" name="longitude" value="">
        <input type="hidden" id="address" name="address" value="">
        <button type="submit" class="btn btn-primary mt-2">Clock In</button>
      </form>
    </div>
    {{/clockedIn}}

    {{#clockedIn}}
    <div class="alert alert-success">
      You Are Clocked in
      <h1 id="duration">00:00</h1>
      <p id="hours">0.0</p>
    </div>
    <form action="/clockOut" onsubmit="return radioValidation()" method="POST">
      <h2>Jobs</h2>
      <div class="form-group">
        {{#jobs}}
        <div class="form-check">
          <input class="form-check-input" type="radio" id="jobName" name="jobName" value="{{id}}">
          <label class="form-check-label" for="jobName">{{name}}</label>
        </div>
        {{/jobs}}
      </div>

      <h2>Tasks</h2>
      <div class="form-group">
        {{#tasks}}
        <div class="form-check">
          <input class="form-check-input" type="radio" id="taskName" name="taskName" value="{{id}}">
          <label class="form-check-label" for="taskName">{{name}}</label>
        </div>
        {{/tasks}}
      </div>

      <h2>Notes</h2>
      <div class="form-group">
        <textarea class="form-control" name="notes" cols="40" rows="5">{{notes}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger">Clock Out</button>
    </br>
    </br>
    </form>
    {{/clockedIn}}
  </div>
</body>
</html>
