
/*
  defaults.css: Default style to apply to all pages 
*/

@import 'https://fonts.googleapis.com/css?family=PT+Sans';

* {
  font-family: 'PT Sans', sans-serif;
}

.container {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #f5f5f5;
  padding:10px;

}

.qrcontainer {
  padding:50px;
  width:90%;
  column-width: 500px;


}

.zoom-in-out-box:hover {
  margin: 24px;
  width: 50px;
  height: 50px;
  background: #f50057;
  animation: zoom-in-zoom-out ;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  padding:5px;
}

td {
  padding:10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.searchBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #f5f5f5;
  padding:10px;

}

#barcode {
  display: inline;
  margin-left: 10px;
  margin-right: auto;
  background-color: #f5f5f5;
  padding:10px;
}
/*
.timesheet {
    margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.timesheet th {
  background-color: #04AA6D;
  color: gray;
}

.timesheet td {
  padding:5px;
}
.timesheet tr:hover {background-color: coral;}*/